.git/
*.log
*.o
*.so.1
*.a
*.out
*.rpm
*.deb
.directory
Makefile
autom4te.cache
config.status
config.log
stamp-h1
.svn
*~
*.swp
*.kate-swp
binjs.kdev4
.kdev4
.build
.made
aclocal.m4
bash-4.3/bash
bash-4.3/bashbug
bash-4.3/bashversion
bash-4.3/test_libbash
bash-4.3/version.h
bash-4.3/syntax.c
bash-4.3/signames.h
bash-4.3/mksyntax
bash-4.3/mksignames
bash-4.3/lsignames.h
bash-4.3/aclocal.m4

