/* style.css */
#logo {
	position:absolute;
	right: 15px;
}
h1 {
    border-bottom: 1px dotted #EEEEEE;
    font-size: 20pT;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 2px #DDDDDD;
}
#container {
    width: 950px;
}
.filesystem li {
    font-size: 14pt;
}
body {
    line-height: 1.4em;
}
body {
    border: 0 none;
    font-family: Verdana,Arial,sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
iframe {
    border: 0 none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, b, em {
    font-weight: bold;
}
h4 {
    font-size: 13pt;
}
h3 {
    font-size: 13pt;
}
h2 {
    font-size: 15pt;
}
p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
ul {
    margin-bottom: 10px;
    margin-top: 10px;
}
pre {
    font-family: mono-spaced;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
	padding:0px;
	margin:0px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
    /*box-shadow: 1px 1px 2px #999;*/
}
/*
pre code {
	color: #ccc;
	background: #333;
	margin:0px;
	padding:10px;
	display: block;
}
*/

code {
	background : #f6f6f6;
}

pre code {
	background: #eee;
	display: block;
	padding:10px;
    box-shadow: inset 1px 1px 2px #999;
}
p {
	text-align: justify;
}
samp {
    font-size: 12px;
}
hr {
    border: 1px dotted silver;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0;
}
table {
    border-collapse: collapse;
}
th {
    color: #FFFFFF;
    padding: 2px 4px;
    text-align: left;
}
td {
    padding: 2px 4px;
}
a img {
    border: 0 none;
}
a {
    color: #111111;
    text-decoration: none;
}
a:hover {
    color: #111111;
    text-decoration: underline;
}
img {
    vertical-align: middle;
}
body#pw-body {
    background: #eee;
    margin-top: 15px;
    text-align: center;
}
#container {
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 1px 3px #333333;
    margin: auto;
    padding-top: 0;
    text-align: left;
}
#content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid white;
    min-height: 450px;
    position: relative;
}
table.frame {
    width: 100%;
}
table.frame td {
    border: 0 none;
    margin: 0;
    padding: 0;
}
#header {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("back-1x36.png") repeat-x scroll 0 0 transparent;
    border-color: #EFEFEF #BBBBBB #BBBBBB #EFEFEF;
    border-radius: 8px 8px 0 0;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 6px;
    padding-top: 7px;
}
#header span.title {
    background: url("binjs_22x22.png") no-repeat scroll 9px 0 transparent;
    color: #333355;
    font-size: 1.2em;
    font-weight: normal;
    padding-left: 45px;
    padding-bottom: 3px;
    text-shadow: 1px 1px 0 #EEEEEE;
    vertical-align: top;

}
#footer {
    background: url("back.png") repeat-x scroll 0 0 transparent;
    border-radius: 0 0 8px 8px;
    color: #999999;
    font-size: 11px;
    line-height: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    text-shadow: 1px 1px 0 #EEEEEF;
    white-space: nowrap;
}
#main {
    height: auto !important;
    margin-left: 150px;
    margin-right: 50px;
    min-height: 350px;
    padding-top: 10px;
}
#menu {
    background: url("img/background.png") repeat-x scroll 0 0 #EAEAEA;
    border-radius: 8px 0 8px 0;
    box-shadow: 1px 1px 3px #333333;
    left: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    text-shadow: 1px 1px 0 #FFFFFF;
    top: 16px;
    width: 115px;
}
#menu ul {
    margin: 0;
    padding-left: 16px;
}
#menu li {
    font-size: 9pt;
    line-height: 14px;
    list-style: none outside none;
    margin-bottom: 5px;
}
#menu li a {
    color: black;
    text-decoration: none;
}
#menu li a:hover {
    text-decoration: none;
}
a.help-link {
    position: relative;
}
a.help-link:hover {
    color: #000000;
    z-index: 23;
}
a.help-link:hover span.tooltip {
    background-color: #000000;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    display: block;
    font-size: 9pt;
    font-weight: normal;
    left: 32px;
    padding: 10px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    top: 28px;
    white-space: nowrap;
}
span.tooltip {
    text-shadow: 0 0 0;
}
#title {
    margin: 0 0 15px;
}
#root {
    cursor: pointer;
    font-size: 14pt;
    font-weight: bold;
}
#root-img {
    padding-right: 5px;
}
.tooltip {
    display: none;
}
a.flink {
    position: relative;
}
a.flink:hover {
    color: #000000;
    z-index: 23;
}
a.flink:hover span.tooltip {
    background-color: #222222;
    border-radius: 8px 8px 8px 8px;
    color: #CCCCCC;
    display: block;
    font-size: 9pt;
    font-weight: bold;
    left: 32px;
    opacity: 0.8;
    padding: 2px 5px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    top: 28px;
    white-space: nowrap;
}
.pw-html-editor {
    width: 765px;
}
.pw-breadcrumb-trail {
    color: silver;
    font-size: 11px;
    padding-bottom: 5px;
}
div.pw-breadcrumb-trail span {
    border-bottom: 1px dotted #EEEEEE;
    padding: 2px;
}
.pw-breadcrumb-trail a {
    color: silver;
}
div.pw-created {
    font-size: 8pt;
    font-weight: bold;
}
div.pw-edited {
    font-size: 8pt;
}
div.pw-metadata {
    border: 1px solid #EEEEEE;
    display: block;
    margin-right: 10px;
    max-height: 100px;
    overflow: scroll;
    padding: 5px;
}
span.pw-date {
    padding-left: 10px;
}
ul.pw-toc {
    margin-top: 0;
}
div.pw-content p {
    margin: 0;
    padding: 0;
}
div#pw-history-title {
    margin-right: 10px;
    text-align: right;
}
.pw-css-button {
    background: url("img/back-1x36.png") repeat-x scroll 0 0 transparent;
    border: 1px solid silver;
    border-radius: 4px 4px 4px 4px;
    font-size: 10px;
    font-weight: bold;
    padding: 0 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.warning {
    font-size: 10px;
}
div#content table {
    width: 100%;
}
div#pw-content samp {
    background-color: #EEEEEE;
    display: block;
    font-family: monospace;
    padding: 5px;
}
