/* style.css */
#logo {
  position:absolute;
  right: 15px;
}
#cover {
	margin-left: 0px;
	margin-top: 150px;
	margin-bottom: 50px;
	text-align: center;
}
.cover-title{
    font-size: 70pt;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 2px #DDDDDD;
}
#cover-image {
	vertical-align: text-bottom;
}
h1 {
    border-bottom: 1px dotted #EEEEEE;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 2px #DDDDDD;
}
#container {
    width: 800px;
}
body {
    line-height: 1.4em;
}
body {
    border: 0 none;
    font-family: Verdana,Arial,sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
iframe {
    border: 0 none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, b, em {
    font-weight: bold;
}
h4 {
    font-size: 13pt;
}
h3 {
    font-size: 13pt;
}
h2 {
    font-size: 15pt;
}
p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
ul {
    margin-bottom: 10px;
    margin-top: 10px;
}
pre {
    font-family: mono-spaced;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
	padding:0px;
	margin:0px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
    /*box-shadow: 1px 1px 2px #999;*/
}
/*
pre code {
	color: #ccc;
	background: #333;
	margin:0px;
	padding:10px;
	display: block;
}
*/

code {
	background : #f6f6f6;
}

pre code {
	background: #eee;
	display: block;
	padding:10px;
    box-shadow: inset 1px 1px 2px #999;
}
p {
	text-align: justify;
}
samp {
    font-size: 12px;
}
hr {
    border: 1px dotted silver;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0;
}
table {
    border-collapse: collapse;
}
th {
    color: #FFFFFF;
    padding: 2px 4px;
    text-align: left;
}
td {
    padding: 2px 4px;
}
a img {
    border: 0 none;
}
a {
    color: #111111;
    text-decoration: none;
}
a:hover {
    color: #111111;
    text-decoration: underline;
}
img {
    vertical-align: middle;
}
body#pw-body {
    background: #eee;
    margin-top: 15px;
    text-align: center;
}
#container {
    border-radius: 0px 8px 8px 0px;
    box-shadow: 1px 1px 3px #333333;
    margin: auto;
    padding-top: 0;
    text-align: left;
}
#content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid white;
    min-height: 650px;
    position: relative;
}
table.frame {
    width: 100%;
}
table.frame td {
    border: 0 none;
    margin: 0;
    padding: 0;
}
#header {
	background: #000;
	color: #fff;
	border-radius: 0px 8px 0px 0px;
    padding-bottom: 6px;
    padding-top: 7px;
}
#header span.title {
    background: url("../img/binjs_22x22.png") no-repeat scroll 9px 0 transparent;
    font-size: 1.2em;
    font-weight: normal;
    padding-left: 45px;
    padding-bottom: 3px;
    text-shadow: 1px 1px 0 #333;
    vertical-align: top;

}
#footer {
    background: url("back.png") repeat-x scroll 0 0 transparent;
    border-radius: 0 0 8px 0px;
    color: #999999;
    font-size: 11px;
    line-height: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    text-shadow: 1px 1px 0 #EEEEEF;
    white-space: nowrap;
}
#main {
    height: auto !important;
    margin-left: 45px;
    margin-right: 30px;
    min-height: 350px;
    padding-top: 10px;
}
#container {
  z-index: 100;
}
#tab-container {
    margin: auto;
	width: 860px;
	border: 0px solid blue;
}
#tabs {
  position:relative;
  float:right;
  border: 0px solid green;
}

.tab {
  border-radius: 0px 8px 8px 0px;
  box-shadow: 1px 1px 3px #333333;
  right: 0px;
  height:130px;
  padding-left: 20px;
  padding-right:3px;
  z-index: 0;
}
.tab-selected {
	background: #fff;
}
#doc-index-tab {
  position:absolute;
  padding-top:10px;
  top:50px;
}
#api-index-tab {
  position:absolute;
  padding-top:10px;
  top:200px;
}
#tui-index-tab {
  position:absolute;
  padding-top:10px;
  top:350px;
}
#references-index-tab {
  position:absolute;
  padding-top:10px;
  top:500px;
}

.vertical {
	color:#333;
	border:0px solid red;
	writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;
	display:block;
	bottom:0;
	width:20px;
	height:20px;
	font-size:24px;
	font-weight:normal;
	text-shadow: 0px 0px 1px #333;
}


a.next {
	font-size:3em;
	float:right;
}
a.next:hover {
	text-decoration: none;
}

a.help-link {
    position: relative;
}
a.help-link:hover {
    color: #000000;
    z-index: 23;
}
a.help-link:hover span.tooltip {
    background-color: #000000;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    display: block;
    font-size: 9pt;
    font-weight: normal;
    left: 32px;
    padding: 10px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    top: 28px;
    white-space: nowrap;
}
span.tooltip {
    text-shadow: 0 0 0;
}
#title {
    margin: 0 0 15px;
}
#root {
    cursor: pointer;
    font-size: 14pt;
    font-weight: bold;
}
#root-img {
    padding-right: 5px;
}
.tooltip {
    display: none;
}
a.flink {
    position: relative;
}
a.flink:hover {
    color: #000000;
    z-index: 23;
}
a.flink:hover span.tooltip {
    background-color: #222222;
    border-radius: 8px 8px 8px 8px;
    color: #CCCCCC;
    display: block;
    font-size: 9pt;
    font-weight: bold;
    left: 32px;
    opacity: 0.8;
    padding: 2px 5px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    top: 28px;
    white-space: nowrap;
}

div.created {
    font-size: 8pt;
    text-align:right;
}

.pw-html-editor {
    width: 765px;
}
.pw-breadcrumb-trail {
    color: silver;
    font-size: 11px;
    padding-bottom: 5px;
}
div.pw-breadcrumb-trail span {
    border-bottom: 1px dotted #EEEEEE;
    padding: 2px;
}
.pw-breadcrumb-trail a {
    color: silver;
}
div.pw-edited {
    font-size: 8pt;
}
div.pw-metadata {
    border: 1px solid #EEEEEE;
    display: block;
    margin-right: 10px;
    max-height: 100px;
    overflow: scroll;
    padding: 5px;
}
span.pw-date {
    padding-left: 10px;
}
ul.pw-toc {
    margin-top: 0;
}
div.pw-content p {
    margin: 0;
    padding: 0;
}
div#pw-history-title {
    margin-right: 10px;
    text-align: right;
}
.pw-css-button {
    background: url("img/back-1x36.png") repeat-x scroll 0 0 transparent;
    border: 1px solid silver;
    border-radius: 4px 4px 4px 4px;
    font-size: 10px;
    font-weight: bold;
    padding: 0 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.warning {
    font-size: 10px;
}
div#content table {
    width: 100%;
}
div#pw-content samp {
    background-color: #EEEEEE;
    display: block;
    font-family: monospace;
    padding: 5px;
}
